<h2>The Expenses are as Follows</h2>
<div>
    <table>
        <tr>
            <th>User</th>
            <th>Amount</th>
            <th>Date</th>
            <th>category</th>
        </tr>
        {{#each theExpenses}}
        <tr>
            <td>{{firstname}}  {{lastname}}</td>
            <td>R{{amount}}</td>
            <td>{{expense_date}}</td>
            <td>{{description}}</td>
        </tr>
        {{/each}}
    </table>
    <div class="paragraph">
        <p for="total_expense" class="details">Total expense: </p>
        <p for="code" class="userTotalAmount">R{{amount}}</p>
    </div>
    <div class="paragraph">
        <p for="choose_expense" class="details">Choose expenses by date: </p>
        <input type="date" class="chooseExpense" placeholder="Enter Firstname" name="view">
    </div>
    <div class="btns">
        <button class="submitBtn" type="submit"> show expenses </button>
        <a href="/logout" style="font-size: 20px; color:black">Logout</a>
    </div>
</div>